@{
    ViewData["Title"] = "Home Page";
}
<header>
    <link rel="stylesheet" href="../wwwroot/css/custom.css">
</header>
<body>
    <div class="text-center">
        <h1 class="display-4">My Contacts Application</h1>
        <div style="width:max-contents">
            <main>
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <h3> Click below to view all contacts </h3>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="document.location='../Contacts'">View all Contacts</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
